body {
  padding: 0;
  margin: 0;
  background-color: #9ccef4;
  font-family: 'Raleway';
}

main {
  text-align: center;
  width: 70%;
  margin: auto;
}

h2 {
  color: white;
}

.temp-body {
  color: #030348;
}

.humidity-pressure {
  display: flex;
  justify-content: center;
}

.humidity-pressure p {
  padding: 0 20px;
}

.footer-wrapper {
  display: flex;
  justify-content: ;
  width: 70%;
  margin: auto;
}

.img-body {
  height: 250px;
  width: 100%;
  display: block;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper p {
  color: #030348;
}